<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Джава</title>
    <!-- <script src="C:\github\Hobbies\Js\Курс с нуля\scripts\alerts.js"></script> -->
    <!-- <script src="C:\github\Hobbies\Js\Курс с нуля\scripts\func.js"></script> -->
    <script src="C:\github\Hobbies\Js\Курс с нуля\scripts\buttons.js"></script>
</head>

<body>


    <h1>Пилим Джаву!</h1>
    <p>Добро пожаловать в JS, сынок </p>
    <button onclick="onclickButton(this)">Тыкай по кнопке</button> 
    <!-- при нажатии на кнопку -->
    <!-- <button onmouseover="onclickButton()">Тыкай по кнопке</button>  -->
    <!-- при наведении мышкой -->




    
</body>
</html>